:root {
    --two: #938a93;
  }
  .main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  #profile-card {
    width: 1450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .class {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px; 
  width: 270px;
  height: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px 0; 
  color: white;
  padding: 10px;
}

.cardWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex; 
  flex-wrap: wrap; 
  border: 5px solid var(--two);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.class::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  margin: 10px 0;
}

.cardWrapper:hover {
  transform: scale(1.12);
  cursor: pointer;
}